<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ESP.Properties.Settings.CGConnectionString" connectionString="Data Source=172.16.11.208;Initial Catalog=CG;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="ESP.Properties.Settings.Media2ConnectionString" connectionString="Data Source=172.16.11.208;Initial Catalog=Media2;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ESP.Properties.Settings.ESPConnectionString" connectionString="Data Source=172.16.11.208;Initial Catalog=ESP;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="ESP.Properties.Settings.CG5ConnectionString" connectionString="Data Source=172.16.11.208;Initial Catalog=CG5;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="Media2Entities" connectionString="metadata=res://*/MediaLinq.Entity.MediaInfos.csdl|res://*/MediaLinq.Entity.MediaInfos.ssdl|res://*/MediaLinq.Entity.MediaInfos.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.11.208;Initial Catalog=Media2;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ESP.Properties.Settings.Media2ConnectionString1" connectionString="Data Source=172.16.11.208;Initial Catalog=Media2;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>