.SiteMap
{
  font-family: verdana; 
  font-size: 12px;
}

.BreadcrumbsNode
{
  font-family: verdana; 
  font-size: 12px;
  margin: 0 0 0 0;
} 

.BreadcrumbsNode a
{ 
  color: Black;
  text-decoration: none;
} 

.BreadcrumbsNode a:hover
{ 
  color: red;
  text-decoration:underline;
}