<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connsource" connectionString="Data Source=local;Initial Catalog=iccard;Persist Security Info=True;User ID=sa;Password=;"/>
    <add name="connsource2" connectionString="server=172.16.4.200;user id=admin;password=admin;database=nav"/>
    <add name="ADSqlConnection" connectionString="Data Source=10.1.2.9;Initial Catalog=ESP;Persist Security Info=True;User ID=sa;Password=1qaz@WSX123" providerName="System.Data.SqlClient"/>
   <add name="GoldenBlockChainADSqlConnection" connectionString="Data Source=10.1.2.9;Initial Catalog=ESP_BC;Persist Security Info=True;User ID=sa;Password=1qaz@WSX123" providerName="System.Data.SqlClient"/>
    <add name="ViveSqlConnection" connectionString="Data Source=10.1.2.9;Initial Catalog=ESP_VIVE;Persist Security Info=True;User ID=sa;Password=1qaz@WSX123" providerName="System.Data.SqlClient"/>
  <add name="DigitalSqlConnection" connectionString="Data Source=10.1.2.9;Initial Catalog=ESP_Digital;Persist Security Info=True;User ID=sa;Password=1qaz@WSX123" providerName="System.Data.SqlClient"/>
    <add name="XingyanSqlConnection" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESP;Persist Security Info=True;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="BackUpTime" value="07:30,12:30"/>
    <add key="sleeptime" value="60000"/>

    <!-- 是否执行弹性工作日 1表示是，0表示否-->
    <add key="FlexibleWorking" value="0"/>
    <!-- 迟到时间点 -->
    <add key="LateTime" value="9:36"/>
    <!-- 上午旷工时间点 -->
    <add key="AMAbsentTime" value="10:30"/>
    <!-- 下午旷工时间点 -->
    <add key="PMAbsentTime" value="13:30"/>
    <!-- 每日工作小时数 -->
    <add key="HoursWorked" value="8"/>
    <!-- 上班班时间点 -->
    <add key="GoWorkTime" value="9:30"/>
    <!-- 下班时间点 -->
    <add key="OffWorkTime" value="18:30"/>
    <!-- OT时间点 -->
    <add key="OverTime" value="21:00"/>
    <!-- 导入打卡记录的时间间隔 5分钟 -->
    <add key="TimeInterval" value="3600000"/>
    <!-- 下班打卡截止时间点 -->
    <add key="OffWorkPointTime" value="06:00:00"/>
    <!-- 下班打卡截止时间点 -->
    <add key="OffWorkPointTime2" value="6"/>
    <add key="GoldenBlockChainShortEn" value="B"/>
    <add key="ViveShortEn" value="V"/>
   <add key="DigitalShortEn" value="D"/>
    <add key="XingyanShortEn" value="X"/>
  </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
