<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Media2Entities" connectionString="metadata=res://*/MediaLinq.Entity.MediaInfos.csdl|res://*/MediaLinq.Entity.MediaInfos.ssdl|res://*/MediaLinq.Entity.MediaInfos.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.11.112;Initial Catalog=Media2;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ESPEntities" connectionString="metadata=res://*/NewFinance.FinanceEntity.FinanceDataEntity.csdl|res://*/NewFinance.FinanceEntity.FinanceDataEntity.ssdl|res://*/NewFinance.FinanceEntity.FinanceDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.11.112;Initial Catalog=ESP;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>