<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connsource" connectionString="Data Source=172.16.4.110;Initial Catalog=iccard;Persist Security Info=True;User ID=AD;Password=PASSWORD"/>
    <add name="ADSqlConnection" connectionString="Data Source=172.16.11.208;Initial Catalog=AD;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- 导入打卡记录的时间间隔 5分钟 -->
    <add key="TimeInterval" value="300000"/>
  </appSettings>
  
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
