/***
html, body
{
    border: none 0 white;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 100%;
    width: 100%;
}
form
{
    border: none 0 white;
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
}
body, td, input
{
    font-size: 12px;
}

td.sep_grid_cell
{
    padding: 5px 10px 5px 10px;
}

/*******************************
 * LSF Style Sheet
 *******************************/


/*******************************
 * general settings
 *******************************/
/***
th, td, body, input, p, textarea, select
{
    font-family: Arial, sans-serif;
    color: #000000;
}

.padding
{
    background-color: #dedec8;
    padding-left: 20px;
    padding-top: 20px;
}

.space
{
    border: 0px !important;
}

.fixedwidth, .info, .message
{
    font-family: "Arial" , "Courier" , "Courier New" , monospace;
}

input, option, select, textarea
{
    font-family: Arial, sans-serif;
    font-size: 95%;
}

td
{
    padding-left: 2px;
    padding-right: 2px;
}

p
{
    font-size: 100%;
}

ul, li
{
    margin-top: 8px;
}

textarea.oddrow-l
{
    background-color: #ffffff;
}

table
{
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
}
#wl111 table
{
    background-color: #ffffff;
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid #4f556a;
    empty-cells: show;
}

form
{
    margin: 0px;
}

table tr td table
{
    border: none;
}

.tableNormal * td
{
    background-color: Transparent;
    border: none;
}

.tableView, .tableInline, .grouping-positive, .grouping-negative, .grouping-neutral
{
    background-color: #cdcdbe;
}
.tableView td
{
    border-left: 1px solid #4f556a;
    border-right: 1px solid #4f556a;
    border-bottom: 1px solid #4f556a;
}
.tableView th
{
    border-left: 1px solid #4f556a;
    border-right: 1px solid #4f556a;
    border-bottom: 1px solid #4f556a;
    font-size: 14px;
    font-weight: bold;
}
.tableView
{
    margin-bottom: 10px;
}
.tableView .space
{
    background-color: #dedec8;
}
.tableForm, .tableAction
{
    background-color: #c0e2c8;
    margin-bottom: 10px;
    border: 1px solid #c0e2c8;
}
.tableForm td
{
    border: 1px solid #c0e2c8;
    height: 25px;
}
.tableForm
{
    border-top: none;
}
.tableInline td
{
    border: none;
}
.tableInline
{
    border-spacing: 1px;
}
.tableModiy
{
    background-color: #cdcdbe;
    border: 1px solid #4f556a;
    behavior: url(../htc/table.htc);
}

.grouping-positive
{
    color: #187863;
}
.grouping-negative
{
    color: #C60829;
}
.grouping-neutral
{
    color: #717171;
}

.info
{
    color: #4f556a;
    padding: 4px;
}

.message
{
    padding: 10px;
    font-size: 95%;
    font-weight: normal; /*background-color: #ffe5e9;*/
/***
    color: #C60829;
    text-align: center;
    letter-spacing: 1px;
    border-top: 1px solid #c60829;
    border-bottom: 1px solid #c60829;
}

.widebuttons, .action input
{
    font-size: 8pt;
    height: 19px;
    cursor:pointer;
    color: #000000;
    background-color: #cdcdbe;
    background-image: url("../../images/btnBack.gif");
    background-repeat: repeat-x;
    border: 1px solid #4f556a;
    border-spacing: 0px;
    letter-spacing: normal;
}
.action input
{
    width: 100px;
}
.action input.button2
{
    width: 200px;
}
/*.widebuttons { width: 95%; }*/

/*******************************
 * topmenu settings
 *******************************/
/***
body.topbar
{
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-left: 1px solid #E2E0E4;
    border-right: 1px solid #736F77;
    border-top: 1px solid #E2E0E4;
    border-bottom: 1px solid #736F77;
    background-color: #bebebe;
}
body.topbar, body.topbar table tr td
{
    padding-left: 0px;
    padding-right: 0px;
}
body.topbar table tr td table
{
    background-color: transparent;
    border: 0px !important;
}

.toptitle
{
    display: block;
    font-size: 100%;
    background-color: transparent;
    color: #5a9cce;
    font-weight: bold;
    font-style: italic;
    white-space: nowrap;
    margin-left: 6px;
    text-align: left;
    letter-spacing: 2pt;
    font-weight: bold;
}

.topimage
{
    background-image: url("../../images/Leftheader.gif");
    background-repeat: repeat-x;
}

.topmenu
{
    text-align: left;
    color: #172870;
}
.topmenu a
{
    padding-left: 6px;
    color: #97a1c9;
    text-decoration: none;
}
.topmenu a:hover
{
    color: #FFFFFF;
}

#idKeymessage
{
    position: absolute;
    top: 40px;
    right: 162px;
    z-index: 1;
    bottom: auto;
    left: auto;
}
.keymessage
{
    white-space: nowrap;
    font-weight: bold;
    text-decoration: blink;
    letter-spacing: 6px;
    color: #ff0000;
    display: block;
    border: 1px solid #ff0000;
    background-color: transparent;
}


/*******************************
 * menu settings
 *******************************/
/***
body.menu
{
    margin: 0px;
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 0px;
    border-left: 1px solid #E2E0E4;
    border-right: 1px solid #736F77;
    border-top: 1px solid #E2E0E4;
    border-bottom: 1px solid #736F77;
}

.menuitem, .menuitem-unclickable
{
    background-color: #dedec8;
    border-right: solid 1px #4f556a;
    border-left: solid 1px #4f556a;
}
.menuitem
{
    cursor:pointer;
}

.menuitemspan, .menuitemspanie, .menuitem a
{
    color: #0063a4;
    text-decoration: none;
}

.menuseparator
{
    border-top: solid 1px #4f556a;
}

.menu, body.menu table
{
    background-color: #bebebe;
    border: none;
}

.menusection, .menusection-Action, .menusection-Server, .menusection-Logs, .menusection-Packages, .menusection-Adapters, .menusection-Security, .menusection-Settings, .menusection-Solutions
{
    height: 19px;
    color: #ffffff;
    background-color: #6780b8;
    letter-spacing: normal;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 15px;
    border-bottom: none;
    background-image: url("../../images/Triangle.gif");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
}

.menu * td.menusection, .menu * td.menusection-Action, .menu * td.menusection-Server, .menu * td.menusection-Logs, .menu * td.menusection-Packages, .menu * td.menusection-Adapters, .menu * td.menusection-Security, .menu * td.menusection-Settings, .menu * td.menusection-Solutions
{
    border: solid 1px #4f556a;
    border-bottom: none;
}


/*******************************
 * body settings
 *******************************/
/***
.heading
{
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    padding: 0 0 0 10px;
    background-image: url("../../images/rep_11 (2).gif");
    height: 30px;
}

.subHeading, .subHeading-r
{
    background-color: #DCCDC6;
    color: #352821;
    padding-left: 5px;
    font-size: 67%;
}
.subHeading
{
    text-align: left;
}
.subHeading-r
{
    text-align: right;
}

.memgraph
{
    background-color: #F0F0E0;
    vertical-align: bottom;
    text-align: center;
}

li a, .subHeading-r a, .subHeading a, .oddrow a, .oddrow-l a, .oddrowdata a, .oddrowdata-l a, .oddrowdata-r a, .oddcol a, .evenrow a, .evenrow-l a, .evenrowdata a, .evenrowdata-l a, .evenrowdata-r a, .evencol a
{
    font-weight: normal;
    color: #c0e2c8;
    text-decoration: none;
}

li a:hover, .subHeading-r a:hover, .subHeading a:hover, .oddrow a:hover, .oddrow-l a:hover, .oddrowdata a:hover, .oddrowdata-l a:hover, .oddrowdata-r a:hover, .oddcol a:hover, .evenrow a:hover, .evenrow-l a:hover, .evenrowdata a:hover, .evenrowdata-l a:hover, .evenrowdata-r a:hover, .evencol a:hover
{
    font-weight: normal;
    color: #0000ff;
    text-decoration: underline;
}

li a:active, .subHeading-r a:active, .subHeading a:active, .oddrow a:active, .oddrow-l a:active, .oddrowdata a:active, .oddrowdata-l a:active, .oddrowdata-r a:active, .oddcol a:active, .evenrow a:active, .evenrow-l a:active, .evenrowdata a:active, .evenrowdata-l a:active, .evenrowdata-r a:active, .evencol a:active
{
    font-weight: normal;
    color: #0000ff;
    text-decoration: underline;
}
/*08-07-01修改前*/
/*.oddrow, .evenrow, .oddrow-l, .evenrow-l,
.oddcol, .oddcol-l, .oddcol-r,
.evencol, .evencol-l, .evencol-r,
.rowlabel {
	color: #000000;
	background-color: #cdcdbe;
}*/
/*08-07-01修改*/
/***
.oddrow, .evenrow, .evenrow-l, .oddcol, .oddcol-l, .oddcol-r, .evencol, .evencol-l, .evencol-r, .rowlabel
{
    color: #000000;
    background-color: #cdcdbe;
}
.oddrow-l
{
    font-size: 12px;
    color: #6e6e6e;
    padding: 0 0 0 10px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #eaedf1;
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
    border-right: 1px solid #eaedf1;
}

.oddrow
{
    background-color: #c0e2c8;
    font-size: 12px;
    color: #6e6e6e;
    font-weight: bold;
    padding: 0 0 0 10px;
    border-bottom: 1px solid #eaedf1;
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
    border-right: 1px solid #eaedf1;
}
/*08-07-01修改结束*/
/***
.oddrowdata, .oddrowdata-l, .oddrowdata-r, .evenrowdata, .evenrowdata-l, .evenrowdata-r
{
    font-weight: normal;
}

.oddrowdata, .oddrowdata-l, .oddrowdata-r
{
    color: #4f556a;
    background-color: #f5f4e7;
}

.evenrowdata, .evenrowdata-l, .evenrowdata-r
{
    color: #4f556a;
    background-color: #ebead8;
}

.oddcol-l, .evencol-l
{
    text-align: left;
    padding-left: 2px;
}
.oddcol-r, .evencol-r
{
    text-align: right;
    padding-right: 2px;
}
.evencol, .oddcol, .oddrowdata, .evenrowdata
{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.oddrow, .oddrowdata-r, .evenrow, .evenrowdata-r, .rowlabel
{
    text-align: left;
    padding-left: 5px;
    padding-right: 5px; /* 改过的样式  */ /***
    border-width: 1px;
    border-style: double;
    border-right-width: 1px;
    border-color: white;
}
.oddrow-l, .oddrowdata-l, .evenrow-l, .evenrowdata-l, .rowdata
{
    text-align: left;
    padding-right: 5px;
    padding-left: 5px; /* 改过的样式  */ /***
    border-width: 1px;
    border-style: double;
    border-right-width: 1px;
    border-color: white;
}

.action, table tr td table tr .action
{
    background-color: #cdcdbe;
    color: #ffffff;
    text-align: left;
    letter-spacing: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.imagelink
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor:pointer;
    behavior: url(../htc/imagelink.htc); /*height: 14px;*/ /***
}

image
{
    border: 0px;
}

DIV.tree
{
    behavior: url(../../public/htc/tree.htc);
}
A
{
    text-decoration: none;
    color: White;
}
.alpha30
{
    background-color: Black;
    position: absolute;
    filter: Alpha(opacity=30);
    z-index: 100;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

.textdisable
{
    background-color: gainsboro;
    filter: Alpha(opacity=80);
}


.gridView
{
    border-right: #c0e2c8 1px solid;
    border-top: #c0e2c8 1px solid;
    border-left: #c0e2c8 1px solid;
    border-bottom: #c0e2c8 1px solid;
    border-top: #c0e2c8 1px solid;
    background-color: #c0e2c8;
    border-collapse: collapse;
    background-image: url("/images/blue_inside (57).gif");
}
.Gheading
{
    background-image: url("/images/blue_inside (57).gif");
    background-repeat: no-repeat;
    height: 26px;
}
.Gheading th
{
    background-image: url("/images/blue_inside (57).gif");
    background-repeat: no-repeat;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}
.td td
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    padding: 10px 0 10px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #c0e2c8;
    background-color: white;
    border-left: 1px solid #eaedf1;
    border-right: 1px solid #eaedf1;
    border-bottom: 1px solid #eaedf1;
}
.td a
{
    font-weight: normal;
    color: #72B20D;
    text-decoration: none;
}

.recordTd
{
    font-weight: normal;
    color: #7282a9;
}

.f_blue
{
    font-size: 12px;
    color: #4d568c;
    text-decoration: none;
}
.f_blue a:link
{
    color: #4d568c;
    text-decoration: none;
}
.f_blue a:visited
{
    color: #4d568c;
    text-decoration: none;
}
.f_blue a:hover
{
    color: #4d568c;
    text-decoration: underline;
}
.XTable
{
    border: 0px;
}
.XTable td
{
    border: 0px;
    height: 10px;
}
.font_12px_blue
{
    font-size: 12px;
    color: #7282a9;
    line-height: 150%;
}

/*----------------------弹出层dialog样式-------------------------*/ /***
#floatBoxBg
{
    display: none;
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}
.floatBox
{
    border: #666 5px solid;
    width: 500px;
    position: absolute;
    top: 50px;
    left: 40%;
}
.floatBox .title
{
    height: 23px;
    padding: 7px 10px 0;
    background: #333;
    color: #fff;
}
.floatBox .title h4
{
    float: left;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}
.floatBox .title span
{
    float: right;
    cursor: pointer;
}
.floatBox .content
{
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 0px;
    background: #fff;
}



/*linkbutton未选中样式*/ /***
a.Abutton
{
    background: transparent url(/images/spanv.gif) no-repeat scroll right top;
    color: White;
    display: block;
    float: left;
    height: 24px;
    padding-right: 10px;
    font: normal 12px sans-serif;
    margin-right: 10px;
    text-decoration: none;
}
a.Abutton span
{
    background: transparent url(/images/spanh.gif) no-repeat;
    display: block;
    padding: 5px 1px 5px 11px;
    line-height: 14px;
}
a.Abutton:hover
{
    background-position: right -24px;
}
a.Abutton:hover span
{
    background-position: left -24px;
}
a.Abutton:active
{
    background-position: right -48px;
}
a.Abutton:active span
{
    background-position: left -48px;
    padding: 6px 0 4px 12px;
}
a.Abutton:active
{
    background-position: right -48px;
    outline: none;
}


.imagePhoto
{
	border-width:0px;
	position:relative;
}
.photocontainer
{
	margin-top:10px;
	background:url("../../public/CutImage/image/bg_120.gif") no-repeat left top;   
	padding:7px 12px 12px 7px;                                        
} 
/*------------------------------------------------------------------------------------*/
/*iframe滚动条样式*/  /***
body{
SCROLLBAR-FACE-COLOR: #f6f6f6;
SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
SCROLLBAR-SHADOW-COLOR: #cccccc;
SCROLLBAR-3DLIGHT-COLOR: #cccccc;
SCROLLBAR-ARROW-COLOR: #330000;
SCROLLBAR-TRACK-COLOR: #fefefe;
SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}

***/

body {
	margin:0px auto;
	
	color: #000000;
}

body, td, input
{
    font-size: 12px;
}

img {
	border:none;
}
a {
	color:#000000;
	text-decoration:none;
}
.tableunderline{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.boder_blue,.tableForm  {
	border: 1px solid #edf1f4;
}
.treelist {
	color: #666666;
	line-height:220%;
}
.treelist a {
	color: #666666;
	text-decoration:none;
}
.treelist a:hover {
	color: #000000;
	text-decoration: underline;
}

.Gheading
{
    
    background-repeat: no-repeat;
    height: 26px;
}
.Gheading th
{
    
    background-repeat: no-repeat;
    font-size: 12px;
    color: #000000;
}
.td td
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    padding: 10px 0 10px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #c0e2c8;
    background-color: white;
    border-left: 1px solid #eaedf1;
    border-right: 1px solid #eaedf1;
    border-bottom: 1px solid #eaedf1;
}
.td a
{
    font-weight: normal;
    color: #6d787d;
}
.gridView
{
    border-right: #edf1f4 1px solid;
    border-top: #edf1f4 1px solid;
    border-left: #edf1f4 1px solid;
    border-bottom: #edf1f4 1px solid;    
    background-color: #edf1f4;
    border-collapse: collapse;    
}

.oddrow
{
    text-align: left;
    padding-left: 5px;
    padding-right: 5px; 
    border-width: 1px;
    border-style: double;
    border-right-width: 1px;
    border-color: white;
     background-color: #edf1f4;
}
.oddrow-l
{
    text-align: left;
    padding-right: 5px;
    padding-left: 5px; 
    border-width: 1px;
    border-style: double;
    border-right-width: 1px;
    border-color: white;
     background-color: #f6f8f9;
}

.widebuttons
{
    font-size: 8pt;
    height: 19px;
    cursor:pointer;
    color: #000000;
    background-color: #cdcdbe;
    background-image: url("../../images/btnBack.gif");
    background-repeat: repeat-x;
    border: 1px solid #4f556a;
    border-spacing: 0px;
    letter-spacing: normal;
}

/*----------------------弹出层dialog样式-------------------------*/
#floatBoxBg
{
    display: none;
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}
.floatBox
{
    border: #666 5px solid;
    width: 500px;
    position: absolute;
    top: 50px;
    left: 40%;
}
.floatBox .title
{
    height: 23px;
    padding: 7px 10px 0;
    background: #333;
    color: #fff;
}
.floatBox .title h4
{
    float: left;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}
.floatBox .title span
{
    float: right;
    cursor: pointer;
}
.floatBox .content
{
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 0px;
    background: #fff;
}

.imagePhoto
{
	border-width:0px;
	position:relative;
}
.photocontainer
{
	margin-top:10px;
	background:url("../../public/CutImage/image/bg_120.gif") no-repeat left top;   
	padding:7px 12px 12px 7px;                                        
}

.heading
{
    font-size: 14px;
    color: #4f556a;
    font-weight: bold;
    padding: 0 0 0 10px;
    background-image: url("../../images/rep_11 (2).gif");
    height: 30px;
} 

.recordTd
{
    font-weight: normal;
    color: #7282a9;
}

/*iframe滚动条样式*/
body{
SCROLLBAR-FACE-COLOR: #f6f6f6;
SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
SCROLLBAR-SHADOW-COLOR: #cccccc;
SCROLLBAR-3DLIGHT-COLOR: #cccccc;
SCROLLBAR-ARROW-COLOR: #330000;
SCROLLBAR-TRACK-COLOR: #fefefe;
SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}
