<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="esp" type="ESP.Configuration.ConfigurationSectionHandler, ESP.Core"/>
  </configSections>

  <connectionStrings>
    <add name="WorkFlowTest" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESP;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient"/>
    <add name="ESP" connectionString="data source=10.1.2.5;Initial Catalog=XYESP;User ID=sa;Password=1qaz@WSX2024;" providerName="System.Data.SqlClient"/>
    <add name="CG" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESP;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient"/>
    <add name="MediaSqlConnection" connectionString="server=10.1.2.5;database=Media;uid=sa;pwd=1qaz@WSX2024;"/>
    <add name="ESP.Workflow.Properties.Settings.WorkflowConnectionString" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESP;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient"/>
    <add name="CustomerSqlConnection" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESP;Persist Security Info=True;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- 时间间隔 1分钟 -->
    <add key="TimeInterval" value="60000"/>
    <add key="BackUpTime" value="23"/>
    <add key="WorItemTime" value="16"/>
    <add key="PortalSite" value="http://xy.shunyagroup.com" />
    <add key="BeijingProjectAccounterChange" value="13237,13236"/>
    
  </appSettings>
  <esp connectionStringName="ESP" webSiteId="26">
    <providers>
      <add pattern="^ESP\.Framework\.SqlDataAccess\.\w+$" assembly="ESP.Core"/>
      <add pattern="^ESP\.Security\.DefaultUrlAuthorizationProvider$" assembly="ESP.Core"/>
      <add pattern="^ESP\.Logging\.SqlLogProvider$" assembly="ESP.Core"/>
      <add pattern="^ESP\.Finance\.DataAccess\.\w+$" assembly="ESP"/>
    </providers>
  </esp>
</configuration>
