<appSettings>
             <clear />
             <add key="RequestForSealPath" value="D:/web/FileManagement/RequestForSealFiles/" />
             <add key="SiteServer" value="http://172.16.10.51:1006/" />
             <add key="MailServer" value="smtp.mxhichina.com" />
             <add key="MailServerUserName" value="procurement@shunyagroup.com" />
             <add key="MailServerPassWord" value="q1W@e3R$" />
             <add key="MailFrom" value="procurement@shunyagroup.com" />
             <add key="MailFromName" value="procurement@shunyagroup.com" />
             <add key="MainPage" value="http://127.0.0.1:11001/default.aspx" />
             <add key="PortalSite" value="http://127.0.0.1:11080" />
             <add key="AuditorGZ" value="" />
             <add key="AuditorSH" value="" />
             <add key="TimeLineBeginDate" value="2013-4-1" />
             <add key="UpdatePSUrl" value="http://127.0.0.1:2102/UserSelfHelp/PSWChange/PSWChange.aspx" />
             <add key="IsTest" value="" />
             <add key="TreeRoot" value="12" />
             <add key="PrNoModel" value="No" />
             <add key="FirstAssessorDeptID" value="0" />
             <add key="AuditorEmail" value="" />
             <add key="TaxTypes" value="" />
             <add key="ShunYa" value="XYYH" />
             <add key="SupplierUpFilePath" value="" />
             <add key="supplyNewsFilePath" value="D:/web/FileManagement/upFile/" />
             <add key="SupplierPriceFiles" value="D:/web/Supplier/SupplierPriceFiles/" />
             <add key="supplyFieldImgPath" value="D:/web/Supplier/FieldImg/" />
             <add key="fieldTypeId" value="" />
             <add key="UpFilePath" value="D:/web/FileManagement/" />
             <add key="ReporterPath" value="D:/web/FileManagement/ReporterExport/" />
             <add key="PrAuthorization" value="" />
             <add key="FinanceAuditBJBranch" value="x,s,k,d,c,z" />
             <add key="EmailClosingOperator" value="" />
             <add key="MediaProductType" value=",245,247,248,251,252,257,261,289,330," />
             <add key="AuditorName" value="shirlly.xu" />
             <add key="AuditorId" value="" />
             <add key="AuditorId2" value="" />
             <add key="ProductImagePath" value="/TMP/ProductImage/Image/" />
             <add key="StockDeparmentUniqID" value="33" />
             <add key="CQStockDeparmentUniqID" value="73" />
             <add key="Template" value="ModelTemplate.DB" />
             <add key="RunOperationAudit" value="true" />
             <add key="ServicePath" value="http://127.0.0.1:11003/PRService/" />
             <add key="BillPath" value="http://127.0.0.1:11003/TMP/Bill/" />
             <add key="ProjectBriefPath" value="http://127.0.0.1:11003/TMP/Project/Brief/" />
             <add key="MaxSearchPR" value="" />
             <add key="ProjectAdministrativeIDs" value=",10,11," />
             <add key="SpecialDeptIDs" value="" />
             <add key="CanUseOtherBoarders" value="" />
             <add key="FinanceMainPage" value="http://127.0.0.1:11002/Default.aspx" />
             <add key="FinanceTreeRoot" value="18" />
             <add key="DoNotNeedFA" value="" />
             <add key="ProjectDoNotNeedCEOAuditDept" value="" />
             <add key="HowardID" value="" />
             <add key="PFT" value="PFT" />
             <add key="ContractPath" value="D:/web/FileManagement/ContractFiles/" />
             <add key="CustomerAttachPath" value="D:/web/FileManagement/CustomerFiles/" />
             <add key="UserIconPath" value="D:/web/" />
             <add key="CAStatus" value="1" />
             <add key="FCAStatus" value="5" />
             <add key="FinancialAmount" value="50000" />
             <add key="ProjectAmountOverRate" value="0.1" />
             <add key="FADeptID" value="11/财务部" />
             <add key="PurchaseServer" value="http://127.0.0.1:11001" />
             <add key="FinanceServer" value="http://127.0.0.1:11002" />
             <add key="PaymentNotify" value="20" />
             <add key="ProjectNotNeedAudit" value="4" />
             <add key="ExcludeTaxFee" value="259" />
             <add key="MediaOrderPath" value="~/Tmp/MediaTemplate/" />
             <add key="ExpenseType_Ticket" value="" />
             <add key="CostView" value="" />
             <add key="DavidZhangAudit" value="1" />
             <add key="hunanGroup" value="" />
             <add key="MonitorIds" value="" />
             <add key="FinanceIds" value="" />
             <add key="AdvanceID" value="13243" />
             <add key="EddyBinID" value="13237" />
             <add key="DavidZhangID" value="13367" />
             <add key="GasCostByKM" value="1.5" />
             <add key="ExpenseTypeIDs" value=",31,32,33,34,35,71,72,73,75" />
             <add key="ExpenseType_OvertimeMeal" value="33" />
             <add key="ExpenseType_Cellphone" value="31" />
             <add key="ExpenseType_BusinessTrip" value="39" />
             <add key="ExpenseType_GasCost" value="73" />
             <add key="ExpenseType_OvertimeFare" value="32" />
             <add key="ExpenseType_CityTax" value="34" />
             <add key="ExpenseType_Bus" value="38" />
             <add key="ExpenseType_Food" value="71" />
             <add key="ExpenseAccountEndDay" value="25" />
             <add key="AdministrativeIDs" value=",10,11," />
             <add key="HRAdminID" value="13233" />
             <add key="AdminSite" value="http://127.0.0.1:11006" />
             <add key="AttendanceHeader" value="http://127.0.0.1:11006" />
             <add key="ConnectionString" value="Data Source=10.1.2.5;Initial Catalog=XYESPTest;Persist Security Info=True;User ID=sa;Password=1qaz@WSX2024" />
             <add key="UploadFilePath" value="/Upload/" />
             <add key="AddressBookHistoryUsers" value=",13233," />
             <add key="HumanmapNotView" value="" />
             <add key="OfferLetterAudit" value="" />
             <add key="MatterManagers" value="" />
             <add key="BeijingProjectAccounterChange" value="" />
             <add key="ShanghaiProjectAccounterChange" value="" />
             <add key="GuangzhouProjectAccounterChange" value="" />
             <add key="BJDimissionHRAuditor" value="36" />
             <add key="ITJoinDimissionAuditor" value="wei.zhang@shunyagroup.com" />
             <add key="ProjectType_Recharge" value="55" />
             <add key="ConsumptionWorkFlow" value="13245,13243,13237,13239" />
             <add key="ConsumptionWorkFlow10W" value="13245,13243,13237,13238,13239" />
             <add key="HRDepartmentId" value=",31," />
             <add key="salary13Flag" value="1" />
             <add key="FlexibleWorking" value="0" />
             <add key="LateTime" value="9:06" />
             <add key="AMAbsentTime" value="10:00" />
             <add key="PMAbsentTime" value="13:00" />
             <add key="HoursWorked" value="8" />
             <add key="GoWorkTime" value="9:00" />
             <add key="OffWorkTime" value="18:00" />
             <add key="OverTime" value="21:00" />
             <add key="OverTime2" value="22:00" />
             <add key="OverTime3" value="00:00" />
             <add key="EmptyTime" value="1900-01-01" />
</appSettings>