<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="esp" type="ESP.Configuration.ConfigurationSectionHandler, ESP.Core"/>
  </configSections>
  
  <connectionStrings>
    <add name="WorkFlowTest" connectionString="Data Source=172.16.11.208;Initial Catalog=ESP;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    <add name="ESP" connectionString="data source=172.16.11.208;Initial Catalog=ESP;User ID=sa;Password=sa;" providerName="System.Data.SqlClient"/>
    <add name="CG" connectionString="Data Source=172.16.11.208;Initial Catalog=ESP;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    <add name="MediaSqlConnection" connectionString="server=172.16.11.208;database=Media;uid=sa;pwd=sa;"/>
    <add name="Media2Entities" connectionString="metadata=res://*/MediaLinq.Entity.MediaInfos.csdl|res://*/MediaLinq.Entity.MediaInfos.ssdl|res://*/MediaLinq.Entity.MediaInfos.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.11.208;Initial Catalog=Media2;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ADSqlConnection" connectionString="Data Source=172.16.11.208;Initial Catalog=ESP;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    <add name="ESP.Workflow.Properties.Settings.WorkflowConnectionString" connectionString="Data Source=172.16.11.208;Initial Catalog=ESP;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <!-- 时间间隔 1分钟 -->
    <add key="TimeInterval" value="60000"/>
    <!-- 考勤开始时间 -->
    <add key="AttendanceBeginDay" value="2009-07-01"/>
    <!-- 统计之前几个月份的考勤 -->
    <add key="StatBeforeMonth" value="1"/>
    <!--  -->
    <add key="isCalculatePrev" value="true"/>
    
    <add key="BackUpTime" value="23"/>
  </appSettings>
  <esp connectionStringName="ESP" webSiteId="1">
    <providers>
      <add pattern="^ESP\.Framework\.SqlDataAccess\.\w+$" assembly="ESP.Core"/>
      <add pattern="^ESP\.Security\.DefaultUrlAuthorizationProvider$" assembly="ESP.Core"/>
      <add pattern="^ESP\.Logging\.SqlLogProvider$" assembly="ESP.Core"/>
    </providers>
  </esp>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
