<?xml version="1.0" encoding="utf-8" ?>
<DataAccess>
	<DataAccessActionDefinition>
		<Action>
			<Name>部分查看</Name>
			<Description>如果只能查看部分数据内容请使用这个Action</Description>
			<Code>VIEW_PART</Code>
			<Type>1</Type>
			<Custom>False</Custom>
			<Identity>{04567D15-DDAD-470a-B9C8-F56EA5A3B47E}</Identity>
		</Action>
		<Action>
			<Name>全部查看</Name>
			<Description>查看数据表单的全部内容</Description>
			<Code>VIEW_FULL</Code>
			<Type>2</Type>
			<Custom>False</Custom>
			<Identity>{E425C89B-3B9A-4563-B8E2-BB3FC5877A29}</Identity>
		</Action>
		<Action>
			<Name>业务审批</Name>
			<Description>业务审批，这个权限属于业务权限，需要用户自己在业务逻辑里面进行判断</Description>
			<Code>AUDIT_BUSINESS</Code>
			<Type>3</Type>
			<Custom>True</Custom>
			<Identity>{3824444C-132B-49e6-877E-B86B1A3F2B89}</Identity>
		</Action>
		<Action>
			<Name>职能审批</Name>
			<Description>职能部门进行审批，这个权限也属于业务逻辑权限</Description>
			<Code>AUDIT_SUPPORT</Code>
			<Type>4</Type>
			<Custom>True</Custom>
			<Identity>{D62719DF-4BA2-44fd-AB3C-C01ACF6B4952}</Identity>
		</Action>
		<Action>
			<Name>特殊审批</Name>
			<Description>特殊审批，业务审批之外的审批流程，将来会归并到工作流中</Description>
			<Code>AUDIT_SPECIAL</Code>
			<Type>5</Type>
			<Custom>True</Custom>
			<Identity>{FE5E33F6-5EE9-4403-8899-FF7D616A2864}</Identity>
		</Action>
		<Action>
			<Name>编辑</Name>
			<Description>编辑权限（需要防范避免伪造提交内容而编辑不允许编辑的部分，目前这部分还没有实现）</Description>
			<Code>EDIT</Code>
			<Type>6</Type>
			<Custom>True</Custom>
			<Identity>{E0300A88-03D6-42cc-AD2F-808996E2DCE0}</Identity>
		</Action>
		<Action>
			<Name>删除</Name>
			<Description>删除权限</Description>
			<Code>DELETE</Code>
			<Type>7</Type>
			<Custom>True</Custom>
			<Identity>{461955FA-F81F-46bd-9388-215CC99A29EA}</Identity>
		</Action>
	</DataAccessActionDefinition>
	<DataAccessMemberType>
		<Member>
			<Name>Owner</Name>
			<Description>发起人</Description>
			<Code>OWNER</Code>
			<Type>0</Type>
			<Custom>True</Custom>
			<Identity>{37984513-EC89-438d-B154-6454C3DE0A28}</Identity>
		</Member>
		<Member>
			<Name>业务审批人</Name>
			<Description>业务审批人</Description>
			<Code>AUDIT_BUSINESS</Code>
			<Type>1</Type>
			<Custom>True</Custom>
			<Identity>{8CAC6EF5-3196-4741-BB46-23FA215B167B}</Identity>
		</Member>
		<Member>
			<Name>职能审批人</Name>
			<Description>各职能部门审批人</Description>
			<Code>AUDIT_SUPPORT</Code>
			<Type>2</Type>
			<Custom>True</Custom>
			<Identity>{2C2F39A0-431C-4657-9078-B8B0E73B5164}</Identity>
		</Member>
		<Member>
			<Name>特殊审批人</Name>
			<Description>特殊审批人</Description>
			<Code>AUDIT_SPECIAL</Code>
			<Type>3</Type>
			<Custom>True</Custom>
			<Identity>{F0935C87-A043-4814-BFDE-BB4EEA168B28}</Identity>
		</Member>
	</DataAccessMemberType>
</DataAccess>