<configuration>

  <!-- 公共配置 -->
  <connectionStrings>
    <add name="WorkFlowTest" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient"/>
    <add name="ESP" connectionString="data source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024;" providerName="System.Data.SqlClient" />
    <add name="CG" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient"/>
    <add name="ADSqlConnection" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient"/>
    <add name="ESP.Workflow.Properties.Settings.WorkflowConnectionString" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient" />
    <add name="ESP.Properties.Settings.ESPConnectionString" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RequestForSealPath" value="D:/web/FileManagement/RequestForSealFiles/"/>
    <!--采购系统-->
    <add key="SiteServer" value="http://172.16.10.51:1006/" />
    <add key="MailServer" value="smtp.mxhichina.com" />
    <add key="MailServerUserName" value="procurement@shunyagroup.com" />
    <add key="MailServerPassWord" value="q1W@e3R$" />
    <add key="MailFrom" value="procurement@shunyagroup.com" />
    <add key="MailFromName" value="procurement@shunyagroup.com" />
    <add key="MainPage" value="http://127.0.0.1:11001/default.aspx" />
    <add key="PortalSite" value="http://127.0.0.1:11080" />
    <add key="AuditorGZ" value="" />
    <add key="AuditorSH" value="" />
    <add key="TimeLineBeginDate" value="2013-4-1" />
    <add key="UpdatePSUrl" value="http://127.0.0.1:2102/UserSelfHelp/PSWChange/PSWChange.aspx" />
    <add key="IsTest" value="" />
    <add key="TreeRoot" value="12" />
    <add key="PrNoModel" value="No" />
    <add key="FirstAssessorDeptID" value="0"/>
    <add key="AuditorEmail" value="" />
    <add key="TaxTypes" value="" />
    <add key="ShunYa" value="XYYH"/>
    <add key="SupplierUpFilePath" value=""/>
    <add key="supplyNewsFilePath" value ="D:/web/FileManagement/upFile/"/>
    <add key="SupplierPriceFiles" value ="D:/web/Supplier/SupplierPriceFiles/"/>
    <add key="supplyFieldImgPath" value="D:/web/Supplier/FieldImg/"/>
    <add key="fieldTypeId" value=""/>
    <add key="UpFilePath" value="D:/web/FileManagement/"/>
    <add key="ReporterPath" value="D:/web/FileManagement/ReporterExport/" />
    <add key="PrAuthorization" value=""/>
    <add key="FinanceAuditBJBranch" value="x,s,k,d,c,z"/>
    <add key="EmailClosingOperator" value=""/>
    <add key="MediaProductType" value=",245,247,248,251,252,257,261,289,330,"/>
    <add key="AuditorName" value="shirlly.xu"/>
    <add key="AuditorId" value=""/>
    <add key="AuditorId2" value=""/>
    <add key="ProductImagePath" value="/TMP/ProductImage/Image/" />
    <add key="StockDeparmentUniqID" value="33" />
    <add key="CQStockDeparmentUniqID" value="73"/>
    <add key="Template" value="ModelTemplate.DB" />
    <add key="RunOperationAudit" value="true" />
    <add key="ServicePath" value="http://127.0.0.1:11003/PRService/" />
    <add key="BillPath" value="http://127.0.0.1:11003/TMP/Bill/" />
    <add key="ProjectBriefPath" value="http://127.0.0.1:11003/TMP/Project/Brief/" />
    <add key="MaxSearchPR" value=""/>
    <add key="ProjectAdministrativeIDs" value=",10,11,"/>
    <add key="SpecialDeptIDs" value=""/>
    <!--财务系统-->
    <add key="CanUseOtherBoarders" value=""/>
    <add key="FinanceMainPage" value="http://127.0.0.1:11002/Default.aspx"/>
    <add key="FinanceTreeRoot" value="18"/>
    <add key="DoNotNeedFA" value=""/>
    <add key="ProjectDoNotNeedCEOAuditDept" value="" />
    <add key="HowardID" value=""/>
    <add key="PFT" value="PFT"/>
    <add key="ContractPath" value="D:/web/FileManagement/ContractFiles/"/>
    <add key="CustomerAttachPath" value="D:/web/FileManagement/CustomerFiles/"/>
    <add key="UserIconPath" value="D:/web/S-Portal/images/upload/"/>
    <add key="CAStatus" value="1"/><!--合同状态 单项合同表ID-->
    <add key="FCAStatus" value="5"/><!--合同状态 框架合同表ID-->
    <add key="FinancialAmount" value="50000"/>
    <add key="ProjectAmountOverRate" value="0.1"/>
    <add key="FADeptID" value="11/财务部"/>
    <add key="PurchaseServer" value="http://127.0.0.1:11001"/>
    <add key="FinanceServer" value="http://127.0.0.1:11002"/>
    <add key="PaymentNotify" value="20"/>
    <add key="ProjectNotNeedAudit" value="4"/>
    <add key="ExcludeTaxFee" value="259"/>
    <add key="MediaOrderPath" value="~/Tmp/MediaTemplate/"/>
    <add key="ExpenseType_Ticket" value=""/>
    <add key="CostView" value=""/>
    <add key="ProjectDoNotNeedCEOAuditDept" value=""/>
    <add key="UserIconPath" value="D:/web/"/>
    <add key="DavidZhangAudit" value=""/>
    <add key="hunanGroup" value="" />
    <add key="PFT" value="PFT" />
    <add key="MonitorIds" value="" />
    <add key="FinanceIds" value="" />

    <add key="AdvanceID" value="13243"/>
    <add key="EddyBinID" value="13237" /><!--Eddy的ID -->
    <add key="DavidZhangID" value="13367" /><!--张秀兵的ID -->
    <add key="DavidZhangAudit" value="1"/><!--是否需要davidzhang审核-->
    <add key="GasCostByKM" value="1.5"/><!--每公里汽油费的报销费用 -->
    <add key="ExpenseTypeIDs" value=",31,32,33,34,35,71,72,73,75"/><!--报销费用类型IDS -->
    <add key="ExpenseType_OvertimeMeal" value="33"/><!--报销费用类型ID 加班餐费 -->
    <add key="ExpenseType_Cellphone" value="31"/><!--报销费用类型ID 手机费 -->
    <add key="ExpenseType_BusinessTrip" value="39"/><!--报销费用类型ID 出差餐费 -->
    <add key="ExpenseType_GasCost" value="73"/><!--报销费用类型ID 汽油费 -->
    <add key="ExpenseType_OvertimeFare" value="32"/><!--报销费用类型ID 加班车费 -->
    <add key="ExpenseType_CityTax" value="34"/><!--报销费用类型ID 市内出租车费 -->
    <add key="ExpenseType_Bus" value="38"/><!--报销费用类型ID 车费 -->
    <add key="ExpenseType_Food" value="71"/><!--报销费用类型ID 餐费 -->
    <add key="ExpenseAccountEndDay" value="25"/><!--报销Fa审核截止日 -->
    <add key="AdministrativeIDs"  value=",10,11,"/> <!--所有行政部门的ID -->
    <add key="HRAdminID" value="13233"/><!--HR总监的ID-->
    <add key="AdminSite" value="http://127.0.0.1:11006" />
    <add key="AttendanceHeader" value="http://127.0.0.1:11006"/>
    <add key="DoNotNeedFA"  value=""/> <!--数据表管理生成相关参数-->
    <add key="ConnectionString" value="Data Source=10.1.2.5;Initial Catalog=XYESPTest;Persist Security Info=True;User ID=sa;Password=1qaz@WSX2024"/>
    <add key="UploadFilePath" value="/Upload/"/><!--通讯录快照用户ID-->
    <add key="AddressBookHistoryUsers" value=",13233,"/>
    <add key="HumanmapNotView" value="" />
    <!--OfferLetter审核人-->
    <add key="OfferLetterAudit" value=""/>
    <add key="MatterManagers" value=""/>
    <add key="BeijingProjectAccounterChange" value=""/>
    <add key="ShanghaiProjectAccounterChange" value=""/>
    <add key="GuangzhouProjectAccounterChange" value=""/>
     <add key="BJDimissionHRAuditor" value="36"/>
     <add key="ITJoinDimissionAuditor" value="wei.zhang@shunyagroup.com"/>
    <add key="ProjectType_Recharge" value="55" /><!--代理类ProjectTypeID-->
    <add key="ConsumptionWorkFlow" value="13245,13243,13237,13239" />
    <add key="ConsumptionWorkFlow10W" value="13245,13243,13237,13238,13239" />
    
    <!--集团-->
    <add key="HRDepartmentId" value=",31,"/>
    <add key="salary13Flag" value="1"/>
  </appSettings>
  <esp connectionStringName="ESP">
    <providers>
      <add pattern="^ESP\.Framework\.SqlDataAccess\.\w+$" assembly="ESP.Core" />
      <add pattern="^ESP\.Security\.DefaultUrlAuthorizationProvider$" assembly="ESP.Core" />
      <add pattern="^ESP\.Logging\.SqlLogProvider$" assembly="ESP.Core" />
    </providers>
  </esp>


  <!-- ============================================================================================================================================== -->
  <!-- 财务配置 -->
  <webSite id="26">
    <connectionStrings>
      <add name="CustomerSqlConnection" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;Persist Security Info=True;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <esp>
      <providers>
        <add pattern="^ESP\.Finance\.DataAccess\.\w+$" assembly="ESP" />
        <add pattern="^ESP\.UserPoint\.SqlDataAccess\.\w+$" assembly="ESP.Core" />
      </providers>
    </esp>

    <appSettings>

    </appSettings>
  </webSite>

  <!-- ============================================================================================================================================== -->
  <!-- 人事及管理配置 -->
  <webSite id="1">
    <connectionStrings>
      <add name="CustomerSqlConnection" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <esp>
      <providers>
        <add pattern="^ESP\.Finance\.DataAccess\.\w+$" assembly="ESP" />
      </providers>
    </esp>
    <appSettings>
      <add key="AdminRoles" value="1" />
    </appSettings>
  </webSite>



  <!-- ============================================================================================================================================== -->
  <!-- Passport -->
  <webSite id="10">
    <connectionStrings>
      <add name="CustomerSqlConnection" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
      <add key="intranetIPPattern" value="127.*.*.*" />
    </appSettings>
  </webSite>


  <!-- 采购配置 -->
  <webSite id="25">
    <connectionStrings>
      <add name="CustomerSqlConnection" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <esp>
      <providers>
        <add pattern="^ESP\.Finance\.DataAccess\.\w+$" assembly="ESP" />
        <add pattern="^ESP\.UserPoint\.SqlDataAccess\.\w+$" assembly="ESP.Core" />
      </providers>
    </esp>
  </webSite>

  <!-- ============================================================================================================================================== -->
  <!-- Portal 配置 -->
  <webSite id="3">
    <connectionStrings>
      <add name="CustomerSqlConnection" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient"/>
      <add name="ADSqlConnection" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient"/>
      <add name="PortalEntities" connectionString="metadata=res://*/Portal.csdl|res://*/Portal.ssdl|res://*/Portal.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>

    <esp CG="CG" FinancialHeader="http://127.0.0.1:11002" PurchaseHeader="http://127.0.0.1:11001" AttendanceHeader="http://127.0.0.1:11006" HRHeader="http://127.0.0.1:11004" majordomoId="13395" mediaId="13410" billId="13913">
      <providers>
        <add pattern="^ESP\.Framework\.SqlDataAccess\.SqlTaskItemDataProvider$" assembly="ESP.TaskItems" />
        <add pattern="^ESP\.Finance\.DataAccess\.\w+$" assembly="ESP" />
      </providers>
    </esp>

    <appSettings>
      <add key="PortalDatabaseProvider" value="SqlServer"/>
      <add key="PortalOtherDataProvider" value="Web"/>
      <add key="ConnectionString" value="server=123.124.199.50;database=Portal;user id=Framework;password=Framework"/>
      <add key="MessengerPath" value="F:\dotnetworkspace\Discuz_vs08\Portal.Messenger\bin\Debug\Portal.Messenger.exe"/>
      <!-- 是否执行弹性工作日 1表示是，0表示否-->
      <add key="FlexibleWorking" value="0"/>
      <!-- 迟到时间点 -->
      <add key="LateTime" value="9:06"/>
      <!-- 上午旷工时间点 -->
      <add key="AMAbsentTime" value="10:00"/>
      <!-- 下午旷工时间点 -->
      <add key="PMAbsentTime" value="13:00"/>
      <!-- 每日工作小时数 -->
      <add key="HoursWorked" value="8"/>
      <!-- 上班班时间点 -->
      <add key="GoWorkTime" value="9:00"/>
      <!-- 下班时间点 -->
      <add key="OffWorkTime" value="18:00"/>
      <!-- 加班时间点 -->
      <add key="OverTime" value="21:00"/>
      <!-- 加班过22点后，第二天10点前到算正常 -->
      <add key="OverTime2" value="22:00"/>
      <!-- 加班过0点后，第二天13点前到算正常 -->
      <add key="OverTime3" value="00:00"/>
      <!-- 空的时间值 -->
      <add key="EmptyTime" value="1900-01-01"/>
    </appSettings>
  </webSite>

  <!-- ============================================================================================================================================== -->
  <!-- 考勤配置 -->
  <webSite id="30">
    <connectionStrings>
      <add name="CustomerSqlConnection" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <esp connectionStringName="ESP"  FinancialHeader="http://127.0.0.1:11002">
      <providers>
        <add pattern="^ESP\.Finance\.DataAccess\.\w+$" assembly="ESP" />
      </providers>
    </esp>
    <appSettings>
      <!-- 是否执行弹性工作日 1表示是，0表示否-->
      <add key="FlexibleWorking" value="0"/>
      <!-- 迟到时间点 -->
      <add key="LateTime" value="9:06"/>
      <!-- 上午旷工时间点 -->
      <add key="AMAbsentTime" value="10:00"/>
      <!-- 下午旷工时间点 -->
      <add key="PMAbsentTime" value="13:00"/>
      <!-- 每日工作小时数 -->
      <add key="HoursWorked" value="8"/>
      <!-- 上班班时间点 -->
      <add key="GoWorkTime" value="9:00"/>
      <!-- 下班时间点 -->
      <add key="OffWorkTime" value="18:00"/>
      <!-- 加班时间点 -->
      <add key="OverTime" value="21:00"/>
      <!-- 加班过22点后，第二天10点前到算正常 -->
      <add key="OverTime2" value="22:00"/>
      <!-- 加班过0点后，第二天13点前到算正常 -->
      <add key="OverTime3" value="00:00"/>
      <!-- 空的时间值 -->
      <add key="EmptyTime" value="1900-01-01"/>
    </appSettings>
  </webSite>

</configuration>