<connectionStrings>
                   <clear />
                   <add name="WorkFlowTest" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024"
                                      providerName="System.Data.SqlClient" />
                   <add name="ESP" connectionString="data source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024;"
                                      providerName="System.Data.SqlClient" />
                   <add name="CG" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024"
                                      providerName="System.Data.SqlClient" />
                   <add name="ADSqlConnection" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024"
                                      providerName="System.Data.SqlClient" />
                   <add name="ESP.Workflow.Properties.Settings.WorkflowConnectionString"
                                      connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024"
                                      providerName="System.Data.SqlClient" />
                   <add name="ESP.Properties.Settings.ESPConnectionString" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024"
                                      providerName="System.Data.SqlClient" />
                   <add name="CustomerSqlConnection" connectionString="Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024"
                                      providerName="System.Data.SqlClient" />
                   <add name="PortalEntities" connectionString="metadata=res://*/Portal.csdl|res://*/Portal.ssdl|res://*/Portal.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.1.2.5;Initial Catalog=XYESPTest;User ID=sa;Password=1qaz@WSX2024;MultipleActiveResultSets=True&quot;"
                                      providerName="System.Data.EntityClient" />
</connectionStrings>