<?xml version="1.0"?>
<TaskConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<ReloadMinutes>60</ReloadMinutes>
	<!--<Item>
		<Name>Twitter Task</Name>
		<Provider>Portal.Task.TwitterTask, Portal.Task</Provider>
		<Period>1</Period>
		<Retry>2</Retry>
		<SleepTime>100</SleepTime>
	</Item>
	<Item>
		<Name>Employee Task</Name>
		<Provider>Portal.Task.EmployeeTask, Portal.Task</Provider>
		<Period>1</Period>
		<Retry>2</Retry>
		<SleepTime>100</SleepTime>
	</Item>//-->
	<Item>
		<Name>Work Item Task</Name>
		<Provider>Portal.Task.WorkItemTask, Portal.Task</Provider>
		<Period>1</Period>
		<Retry>2</Retry>
		<SleepTime>100</SleepTime>
	</Item>
  <Item>
    <Name>Cost Record Task</Name>
    <Provider>Portal.Task.CostRecordTask, Portal.Task</Provider>
    <Period>1440</Period>
    <Retry>2</Retry>
    <SleepTime>100</SleepTime>
  </Item>
</TaskConfigInfo>